.container {
    display: flex;
    align-items: center;
    justify-content:space-between; 
    padding: 10px;
    background: linear-gradient(to right, #20282b, #f3e4f5)
  }
  
  .logo {
    margin-right: 30px; 
    display: flex;
    align-items: center;
    
  }

  .h1{
    font-size: 2rem;
    color: aliceblue;
   text-shadow: #fc06aa;
  }
  
  .navbar {
    display: flex;
    gap: 20px; 
  }
  
  .navbar a:hover {
    color: #fc06aa; 
  }

  .btn{
    background:rgb(241, 247, 246);
    color: #020a14;
    padding: 14px 25px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }